#!/bin/bash
set -e
echo "🚀 Starting system setup..."

ANSIBLE_DIR="{{ .chezmoi.sourceDir }}/ansible"

cd "$ANSIBLE_DIR"
sudo ansible-playbook playbook.yml -i inventory.ini --ask-become-pass

echo "✅ System setup complete"
