[defaults]
inventory = inventory.ini
roles_path = ./roles
interpreter_python = auto_silent
retry_files_enabled = False
deprecation_warnings = False
command_warnings = False
gathering = explicit
host_key_checking = False

[privilege_escalation]
become = False

[inventory]
enable_plugins = ini, yaml, host_list
